@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #D98B99;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;    
}

header{
    background-image: linear-gradient(#D98B99, #F26680);
    min-height: 150px;
    text-align: center;
    padding: 40px;    
}header > h1 {
    color: white;    
    font-size: 4em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(53, 50, 50, 0.788);
    }
    header > p{        
        font-size: 2em;
        color: #BFA006;
        max-width: 500px;
        margin: auto;
        text-shadow: 2px 2px 0px rgba(53, 50, 50, 0.788);
    }
    nav{
        background-color: #F26680;
        padding: 10px;
        box-shadow: 0px 7px 7px rgba(31, 30, 30, 0.589);
        }
        nav > a {
            color: white;
            padding: 10px;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
            transition-duration: 0.5s;        
        }
        nav > a:hover{
            background-color: #e47a8dc7;
            color: #025159;    
        }

        main{
            background: white;
            padding: 20px;
            border-radius: 10px;
        
            min-width: 320px;
            max-width: 800px;
            margin: auto;
        }

        main h1 {
            text-align: center;
            font-size: 1.8em;
            font-weight: normal;
            background-image: linear-gradient(to right, #f26680a8, transparent);
            text-indent: 8px;
        }

        img {
            max-width: 350px;
            display: block;
            margin: auto;
        }
